<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>

<%= form_for(@task) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :done %>
  <%= f.text_field :done %>
  <%= f.submit %>
<% end %>
